<% content_for(:page_title, "Availability for #{@location.name}") %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Tesco appointment planner</a></li>
    <li class="active">Availability for <%= @location.name %></li>
  </ol>

  <h1>Availability for <%= @location.name %></h1>
</div>

<div class="alert alert-success js-success t-success" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-ok"></span> Slot deleted.
</div>

<div
  id="AvailabilityCalendar"
  class="js-calendar availability-calendar t-calendar"
  data-module="availability-calendar"
  data-default-date="<%= Time.zone.now.iso8601 %>"
  data-slots-uri="<%= slots_path %>">
</div>
