<% content_for(:page_title, 'Manage Locations') %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to 'Tesco appointment planner', root_path %></li>
    <li class="active">Manage Locations</li>
  </ol>

  <h1>Manage Locations</h1>
  <%= link_to 'New location', new_admin_location_path, class: 'btn btn-default' %>
</div>

<div class="t-search filters">
  <div class="panel panel-default">
    <header class="panel-heading">
      <%= form_for @search, url: admin_locations_path, as: :search, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <ul class="nav nav-compact nav-pills filters__nav">
          <li class="filters__item">
            <%= f.label :location, class: 'filters__label' %>
            <%= f.select(
                  :location,
                  location_options(@search.scoped),
                  { include_blank: 'All Locations' },
                  {
                    class: 't-search-location form-control filters__form-control',
                    data: { module: 'location-select' }
                  }
              )
            %>
          </li>
          <li class="filters__item">
           <%= f.button class: 't-submit btn btn-default filters__button' do %>
             <span aria-hidden="true" class="glyphicon glyphicon-search"></span> Search
           <% end %>
          </li>
        </ul>
      <% end %>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @locations.empty? %>
      <p class="no-content t-notice">No locations.</p>
    <% else %>
      <%= paginate @locations %>

      <table class="table table-bordered centred-table table-striped">
        <caption><span class="sr-only">Locations</span></caption>
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Town</th>
            <th>Status</th>
            <th>Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @locations.each do |location| %>
            <tr class="t-location">
              <td>
                <%= location.name %>
              </td>
              <td>
                <%= location.town %>
              </td>
              <td>
                <%= location.active ? 'Active' : 'Inactive' %>
              </td>
              <td>
                <%= time_ago_in_words(location.updated_at) %> ago
              </td>
              <td>
                <%= link_to('Manage', edit_admin_location_path(location), class: 'btn btn-info t-manage') %>
                <%= link_to('Rooms', admin_location_rooms_path(location), class: 'btn btn-info t-rooms') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @locations %>
    <% end %>
  </div>
</div>
