<% content_for(:page_title, 'Manage Rooms') %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to 'Tesco appointment planner', root_path %></li>
    <li><%= link_to @location.name, edit_admin_location_path(@location) %></li>
    <li class="active">Manage rooms for <%= @location.name %></li>
  </ol>

  <h1>Manage rooms for <%= @location.name %></h1>
  <%= link_to 'New room', new_admin_location_room_path(@location), class: 'btn btn-default' %>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @rooms.empty? %>
      <p class="no-content t-notice">No rooms.</p>
    <% else %>
      <table class="table table-bordered centred-table">
        <caption><span class="sr-only">Rooms</span></caption>
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr class="t-room">
              <td>
                <%= room.name %>
              </td>
              <td>
                <%= time_ago_in_words(room.updated_at) %> ago
              </td>
              <td>
                <%= link_to('Manage', edit_admin_location_room_path(@location, room), class: 'btn btn-info t-manage') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

