<% content_for(:page_title, "Edit #{@delivery_centre.name}") %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to 'Employer planner', root_path %></li>
    <li class="active">Edit <%= @delivery_centre.name %></li>
  </ol>

  <h1>Edit <%= @delivery_centre.name %></h1>
</div>

<%= form_for @delivery_centre, url: admin_delivery_centre_path(@delivery_centre) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <% if @delivery_centre.errors.any? %>
        <div class="alert alert-danger t-errors" role="alert">
          <h3 class="alert__heading h4">There's a problem</h3>
          <ul>
            <% @delivery_centre.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: 'form', locals: { f: f } %>

  <div class="row">
    <div class="col-md-6">
      <%= f.button class: 'btn btn-primary t-submit' do %>
        Update <%= @delivery_centre.name %>
      <% end %>
    </div>
  </div>
<% end %>
