<h1 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  Appointment reminder
</h1>

<p>Dear <%= @appointment.first_name %>,</p>

<p>This is a reminder that you have a Pension Wise appointment booked for:</p>

<p>
  Date:
  <br>
  <strong class="emphasize">
    <%= @appointment.slot.start_at.to_date.to_s(:govuk_date) %>
  </strong>
</p>

<p>
  Time:
  <br>
  <strong class="emphasize">
    <%= @appointment.slot.start_at.in_time_zone('London').to_s(:govuk_time) %>
  </strong>
</p>

<p>
  Appointment lasts:
  <br>
  <strong class="emphasize">
    45 to 60 minutes
  </strong>
</p>

<p>
  Appointment location:
  <br>
  <strong class="emphasize">
    <%= @appointment.slot.room.name %><br>
    <%= simple_format(@appointment.delivery_centre.location.address) %>
  </strong>
</p>

<p>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
</p>

<p>Email us to change or cancel your booking. You may be asked for your booking reference number.</p>

<%= render 'preparing' %>
