<div class="row t-activity-feed">
  <div class="col-md-12 border-bottom">
    <h2>Recent activity</h2>

    <div class="activity-feed">
      <div class="well js-message-form">
        <%= form_for Activity.new(appointment: appointment.object, user: current_user), url: appointment_activities_path(appointment), remote: true do |f| %>
          <div class="input-group activity-feed__input">
            <label for="message_activity_message"><span class="sr-only">Activity message</span></label>
            <%= f.text_field :message, placeholder: 'Add an action to keep others in the loop', class: 'form-control js-message t-message' %>
            <span class="input-group-btn">
              <%= f.button class: 'btn btn-primary btn-block t-submit-message activity-feed__button', data: { disable_with: 'Adding message...' } do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add message
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <ol class="list-group" aria-live="polite" data-module="activity-feed" id="activity-list" data-config='{"event": "appointment_activity_<%= appointment.id %>"}' aria-label="Activities">
        <%= render(appointment.activities[0..2], hide: false) if appointment.activities.present? %>
        <% if appointment.activities.count > 3 %>
          <%= render(appointment.activities - Array(appointment.activities[0..2]), hide: true) %>
        <% end %>
      </ol>

      <% if appointment.activities.count > 3 %>
        <button class="show-with-js js-activity-show-all btn btn-default t-further-activities" aria-expanded="false" aria-controls="activity-list">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          All activity
        </button>
      <% end %>
    </div>
  </div>
</div>
