<li
  class="activity list-group-item t-activity <%= 't-hidden-activity activity--hideable activity--hide' if hide %>"
  data-activity-id="<%= drop_activity.id %>">
  <div class="activity__inner">
    <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true"></span>
    <strong>The system</strong>
    reported a delivery failure: <em><%= drop_activity.message %></em>
    <span class="activity__date">
      <%= drop_activity.created_at.in_time_zone('London').to_s(:govuk_date_short) %> (<%= time_ago_in_words(drop_activity.created_at.in_time_zone('London'))%> ago)
    </span>
  </div>
</li>
