<% content_for(:page_title, 'Locations') %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to 'Employer planner', root_path %></li>
    <li class="active">Locations</li>
  </ol>

  <h1>Locations</h1>
</div>

<div class="t-search filters">
  <div class="panel panel-default">
    <header class="panel-heading">
      <%= form_for @search, url: locations_path, as: :search, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <ul class="nav nav-compact nav-pills filters__nav">
          <li class="filters__item">
            <%= f.label :employer, class: 'filters__label' %>
            <%= f.collection_select :employer, employers, :id, :name, { include_blank: 'All Employers' }, { class: 'js-employers t-employer form-control filters__form-control filters__form-control--location' } %>
          </li>
          <li class="filters__item">
            <%= f.label :location, class: 'filters__label' %>
            <%= f.grouped_collection_select :location, employers, :locations, :name, :id, :name, { include_blank: 'All Locations' }, { class: 'js-locations t-location form-control filters__form-control filters__form-control--location' } %>
          </li>
          <li class="filters__item">
           <%= f.button class: 't-submit btn btn-default filters__button' do %>
             <span aria-hidden="true" class="glyphicon glyphicon-search"></span> Search
           <% end %>
          </li>
        </ul>
      <% end %>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @search.locations.empty? %>
      <p class="no-content t-notice">No locations.</p>
    <% else %>
      <%= paginate @search.locations %>

      <table class="table table-bordered centred-table table-striped">
        <caption><span class="sr-only">Locations</span></caption>
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @search.locations.each do |location| %>
            <tr class="t-location">
              <td>
                <%= location.name %>
              </td>
              <td>
                <%= location.active ? 'Active' : 'Inactive' %>
              </td>
              <td>
                <%= link_to('Availability', location_slots_path(location), class: 'btn btn-info t-availability') %>
                <%= link_to('Slots', location_availability_path(location), class: 'btn btn-info t-slots') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @search.locations %>
    <% end %>
  </div>
</div>
