<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<%= content_for :app_title do %>
  Tesco Appointment Planner
<% end %>

<%= content_for :navbar_items do %>
  <% if current_user.booking_manager? %>
    <li><%= link_to 'Availability', slots_path %></li>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>

  <% if Rails.env.test? %>
    <script>
      $.fx.off = true;
    </script>
  <% end %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
