<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<%= content_for :app_title do %>
  Employer Planner
<% end %>

<%= content_for :navbar_items do %>
  <% if current_user.booking_manager? %>
    <li><%= link_to 'Availability', locations_path %></li>
    <li><%= link_to 'Appointments', appointments_path %></li>
  <% end %>
  <% if current_user.administrator? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Administration</span>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Locations', admin_locations_path %></li>
        <li><%= link_to 'Delivery Centres', admin_delivery_centres_path %></li>
      </ul>
    </li>
    <li class="dropdown quick-search t-quick-search" data-module="quick-search">
      <a href="#" class="dropdown-toggle js-quick-search-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Find an appointment by reference</span>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu quick-search__dropdown">
        <form method="get" action="/admin/appointments" class="form-inline">
          <div class="form-group quick-search__form-group">
            <label for="quick-search-input" class="quick-search__label"><span class="sr-only">Appointment ID</span>
              <input type="text" id="quick-search-input" class="form-control input-sm quick-search__input js-quick-search-input" name="id" placeholder="Reference">
            </label>
          </div>
          <input type="submit" class="quick-search__button btn btn-primary btn-xs t-quick-search-button" value="Search">
        </form>
      </div>
    </li>
    <li>
      <%= form_for current_user, html: { class: 'navbar-form navbar-right js-delivery-centre-form' } do |f| %>
        <div class="form-group">
          <%= f.select(
                :delivery_centre_id,
                options_for_select(delivery_centre_options, current_user.delivery_centre_id),
                { include_blank: '' },
                { class: 'js-delivery-centre form-control input-sm' }
              )
          %>
        </div>
      <% end %>
    </li>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>

  <script>
  <% if defined?(PusherFake) %>
      Pusher.instance = <%= raw PusherFake.javascript %>;
  <% else %>
      Pusher.instance = new Pusher('<%= ENV['PUSHER_KEY'] %>', {
        cluster: 'eu',
        encrypted: true
      });
  <% end %>
  </script>

  <% if Rails.env.test? %>
    <script>
      $.fx.off = true;
    </script>
  <% end %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
